node_modules
.next
dist
*.log
.env
.env.local
uploads/*
!uploads/.gitkeep
postgres_data
.DS_Store
*.apk
*.tsbuildinfo
mobile/sdk/
Bash
frontend/Bash
frontend/public/sw.js
frontend/public/sw.js.map
frontend/public/workbox-*.js
frontend/public/workbox-*.js.map
